.myCard {
  background-color: var(--background-light-blue);
  border-radius: var(--border-radius);
  padding: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.myCard:hover {
  transform: scale(1.03);
}

.myCardTitle {
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 24px;
}

.subsection {
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: left;
  padding-bottom: 50px;
}

@media screen and (max-width: 576px) {
  .sectionContainer {
    padding-bottom: var(--padding-bottom-xs);
  }
  .cardText {
    padding-left: 0;
  }
  .cardImage {
    width: 70%;
  }
}
