:root {
  --background-green: #3aa99c;
  --background-light-green: #a2e4dd;
  --background-blue: #408cff;
  --background-light-blue: #98c1ff;
  --background-light-light-blue: #e1eef9;
  --background-orange: #ff9472;
  --background-light-orange: #f7b7a3;
  --color-light-blue: #ecf6ff;
  --border-radius: 50px;
  --color-green: #2abb90;
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --xlarge: 1200px;
  --xxlarge: 1400px;
  --header-margin-top: 61px;
  --page-padding-large: 100px 200px 50px;
  --page-padding-extra-large: 100px 300px 50px;
  --page-padding-small: 32px;
  --page-padding-medium: 100px 140px 50px;
}

body {
  font-family: var(--font-poppins);
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-family: var(--font-poppins);
  font-weight: 600;
  padding-bottom: 3rem;
  font-size: calc(3rem + 1.5vw);
}

h2 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

h3 {
  font-family: var(--font-poppins);
  font-weight: 600;
  padding-bottom: 1rem;
}

h4 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

h5 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

p {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1.1rem;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: calc(2rem + 1.5vw);
  }
}
