.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-poppins);
}

.hero {
  font-family: var(--font-poppins);
  color: black;
  background-color: var(--background-blue);
  padding: 6rem 2rem 0;
}

.heroText {
  font-family: var(--font-poppins);
  padding-left: 5rem;
  font-weight: 600;
}

.section {
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: center;
  background-color: var(--background-light-blue);
  padding: 100px 100px;
}

.subsection {
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: left;
  padding-bottom: 50px;
}

.heading3 {
  font-family: var(--font-poppins);
  font-weight: 600;
  padding-bottom: 10px;
}

.paragraph {
  font-family: var(--font-poppins);
  font-weight: 400;
}

.principleImage {
  text-align: center;
  margin-bottom: 50px;
}

.button {
  background-color: transparent;
  border-radius: var(--border-radius);
  padding: 15px 50px;
  border: 1px solid black;
}

.myCard {
  background-color: var(--background-light-blue);
  border-radius: var(--border-radius);
  padding: 40px;
  cursor: pointer;
}

.myCardTitle {
  font-family: var(--font-poppins);
  font-weight: 600;
  text-align: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.mdx {
  text-align: center;
}
