:export {
  background: --background-green;
}

.page {
  background-color: var(--background-green);
  font-family: var(--font-poppins);
}

.main {
  margin-top: 50px;
  padding: 5em;
}

.text {
  padding: 1em 5em 5em;
}

.title {
  text-align: center;
}

.section {
  background-color: var(--background-light-green);
  border-radius: 25px;
  padding: 50px 50px;
}

.link {
  color: black;
  text-transform: uppercase;
}

.myCard {
  padding: 0;
  border: 1px solid red;
}

.experience {
  background-color: var(--background-light-green);
}

.articlesWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}

.wrapper {
  grid-column: span 2;
  background: red;
}
.wrapper:nth-child(-n + 2) {
  grid-column: span 3;
}

.background-light {
  background-color: var(--background-light-green);
}

@media screen and (max-width: 768px) {
  .main {
    padding-left: 32px;
    padding-right: 32px;
  }

  .text {
    padding: 0 0 32px;
  }
}
