.main {
  background-color: var(--background-green);
}

.link {
  color: black;
  text-transform: uppercase;
  text-align: left;
}

.link:hover {
  text-decoration: none;
  font-weight: 600;
}

.experienceSelection {
  text-align: left;
}
.section {
  background-color: var(--background-light-green);
  border-radius: 30px;
  padding: 48px;
  text-align: left;
}

.tags {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 8px 0 24px;
  padding: 10px 0;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .section {
    padding: 48px;
  }
}

@media screen and (max-width: 992px) {
  .section {
    border-radius: 16px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 24px;
  }
  .bottom:first-child {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 576px) {
}
