.page {
  background-color: var(--background-orange);
  font-family: var(--font-poppins);
}

.main {
  margin-top: var(--header-margin-top);
  padding: var(--page-padding-medium);
}

.text {
  padding: 15px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.paragraph {
  text-align: left;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: var(--page-padding-small);
  }
  .paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding: var(--page-padding-large);
  }
}
