.page {
  background-color: var(--background-orange);
}

.main {
  margin-top: var(--header-margin-top);
}

.text {
  padding: 15px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.paragraph {
  text-align: left;
  font-size: 2rem;
}
