.page {
  background-color: var(--background-orange);
  font-family: var(--font-poppins);
}

.main {
  margin-top: 50px;
  padding: 100px 50px 50px;
}

.text {
  padding: 15px;
}

.title {
  text-align: center;
  margin-left: 85px;
  margin-bottom: 50px;
}
