.page {
  background-color: var(--background-light-green);
  font-family: var(--font-poppins);
}

.page * > img {
  padding: 0 2rem;
  width: 300px;
}

.page p:has(> img) {
  text-align: center;
}
.main {
  margin-top: var(--header-margin-top);
  padding: var(--page-padding-medium);
}

@media screen and (max-width: 768px) {
  .page {
    padding: var(--page-padding-small);
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding: var(--page-padding-large);
  }
}
