.page {
  background-color: var(--background-light-green);
  font-family: var(--font-poppins);
}

.articleImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.page * > img {
  width: 100%;
}

.page p:has(> img) {
  text-align: center;
}

.main {
  margin-top: var(--header-margin-top);
  padding: 50px 260px;
}

@media screen and (max-width: 768px) {
  .page {
    padding: var(--page-padding-small);
  }
  .main {
    padding: var(--page-padding-small);
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding: var(--page-padding-large);
  }
}
