.page {
  background-color: var(--background-light-green);
  font-family: var(--font-poppins);
}

.page * > img {
  padding: 0 2rem;
  width: 300px;
}

.page p:has(> img) {
  text-align: center;
}
.main {
  margin-top: 50px;
  padding: 100px 100px 20px;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 32px;
  }
}
