.page {
  background-color: var(--background-light-light-blue);
}

.main {
  margin-top: var(--header-margin-top);
}

.ul {
  text-align: left;
}

.accordion {
  text-align: left;
  margin-bottom: var(--padding-bottom-xl);
}

.accordionItem {
  border-bottom: 1px solid #000;
  padding-top: 8px;
}

.accordion-button collapsed {
  font-weight: 600;
}

.accordionHeader {
  display: flex;
  align-items: center;      /* vertikal mittig */
  width: 100%;              /* ganze Zeile einnehmen */
  padding: 7px 10px;
}

.accordionSubtitle {
  flex: 1;                  /* nimmt den restlichen Platz ein -> drückt das Plus nach rechts */
  font-weight: 600;
  margin: 0;                /* default h3-Abstand weg */
}

.accordionBody {
  font-size: medium;
}

.linksTitle {
  padding-top: 30px;
}

.hrefWrapper {
  color: unset;
}

.linkWrapper {
  padding-bottom: 24px;
}

.linkWrapper:first-child {
  padding-top: 24px;
}

.plusIcon {
  display: flex;
  align-items: center;      /* Plus mittig ausrichten */
  padding: 0 10px 0 0;
}

.linkColumn {
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}

.card {
  position: relative;
  background: transparent;
  border: none;
  margin-bottom: 16px;
}

.hand {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tipsSection {
  margin-bottom: 72px;
}

@media screen and (max-width: 1200px) {
  .accordion {
    margin-bottom: var(--padding-bottom-l);
  }
}

@media screen and (max-width: 992px) {
  .accordion {
    margin-bottom: var(--padding-bottom-m);
  }
  .link {
    margin-bottom: 24px;
  }
}

/*Size S >= 576 <= 786 */
@media screen and (max-width: 768px) {
  .card {
    width: 300px;
  }

  .accordion {
    margin-bottom: var(--padding-bottom-s);
  }
}

/* Size XS<576 */
@media screen and (max-width: 576px) {
  .accordion {
    margin-bottom: var(--padding-bottom-xs);
  }
}
