.page {
  background-color: var(--background-light-blue);
  white-space: initial;
}

.main {
  margin-top: 61px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midWrapper {
  max-width: 600px;
}

.myCard {
  margin-bottom: 20px;
  text-align: left;
}

.list {
  text-align: left;
  font-family: var(--font-workSans);
}

.cardImg {
  border-radius: 16px;
  margin-bottom: 16px;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: none;
  font-weight: 600;
}

.contactWrapper {
  text-align: center;
  max-width: 600px;
}

.column {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  .column {
    margin-bottom: 40px;
  }
}
