.page {
  background-color: var(--background-orange);
  font-family: var(--font-poppins);
}

.main {
  margin-top: var(--header-margin-top);
  padding: var(--page-padding-medium);
}

.text {
  padding: var(--page-padding-small);
}

.title {
  text-align: center;
  font-size: 62px;
}

.gettingInformed {
  border-radius: 50px;
  padding: 30px;
  align-items: center;
  background-color: var(--background-light-blue);
}

.link {
  color: black;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: none;
  font-weight: 600;
}

.sectionDescription {
  font-size: 14px;
  text-align: left;
}

.paragraph {
  font-size: 1.4rem;
  text-align: left;
  padding-left: 4%;
  padding-right: 4%;
  font-weight: 400;
  padding-bottom: 6%;
}

.cardText {
  padding-left: 2em;
}

@media screen and (max-width: 768px) {
  .main {
    padding: var(--page-padding-small);
  }
  .paragraph {
    font-size: 1.5rem;
  }
  .text {
    padding: 0;
  }
  .cardText {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding: var(--page-padding-large);
  }
}
