.page {
  background-color: var(--background-light-blue);
}

.page * > img {
  padding: 0 2rem;
  width: 300px;
}

.page p:has(> img) {
  text-align: center;
}

.main {
  margin-top: var(--header-margin-top);
}

.sectionContainer {
  padding-bottom: var(--padding-bottom-xl);
}

@media screen and (max-width: 768px) {
  .main {
    padding: var(--page-padding-small);
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding: var(--page-padding-large);
  }
}
