.page {
  background-color: var(--background-light-blue);
}

.page * > img {
  padding: 0 2rem;
  width: 300px;
}

.page p:has(> img) {
  text-align: center;
}

.main {
  margin-top: var(--header-margin-top);
}

/* Size L >= 992 <= 1200 */
@media screen and (max-width: 1200px) {
  .main {
    padding: var(--page-padding-l);
  }
  .sectionContainer {
    padding-bottom: var(--padding-bottom-l);
  }
}

/* Size M >=768 <=992 */
@media screen and (max-width: 992px) {
  .main {
    padding: var(--page-padding-m);
  }
  .sectionContainer {
    padding-bottom: var(--padding-bottom-m);
  }
}

/*Size S >= 576 <= 786 */
@media screen and (max-width: 768px) {
  .main {
    padding: var(--page-padding-s);
  }
  .sectionContainer {
    padding-bottom: var(--padding-bottom-s);
  }
  .paragraph {
    font-size: 1.5rem;
  }
  .text {
    padding: 0;
  }

  .cardText {
    padding-left: 0;
  }

  .cardImage {
    width: 45%;
  }
}

/* Size XS<576 */
@media screen and (max-width: 576px) {
  .main {
    padding: var(--page-padding-xs);
  }
  .sectionContainer {
    padding-bottom: var(--padding-bottom-xs);
  }
  .cardText {
    padding-left: 0;
  }
  .cardImage {
    width: 70%;
  }
}
