.page {
  background-color: var(--background-light-blue);
  font-family: var(--font-poppins);
}

.page * > img {
  padding: 0 2rem;
  width: 300px;
}

.page p:has(> img) {
  text-align: center;
}

.main {
  padding: 100px 100px 20px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 32px;
  }
}
