.input {
  border-radius: var(--border-radius);
  width: 100%;
  padding: 20px;
  margin: 10px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
}

.textarea {
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px 10px 0 10px;
  width: 100%;
  font-size: 12px;
  border: none;
}

.submit {
  width: 100%;
  background: transparent;
  outline: none;
  border: solid 1px black;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
  transition: all 0.5s ease;
}

.submit:hover {
  background-color: black;
  color: white;
}

.errorList {
  padding: 20px 40px;
  background-color: var(--background-light-orange);
  list-style: none;
  border-radius: var(--border-radius);
}

.disabled {
  background-color: red;
}

.textCounter {
  font-size: 0.7em;
  display: block;
  text-align: right;
  margin-top: -40px;
  margin-bottom: 40px;
  margin-right: 8px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}
