.footerContainer {
  background-color: #408cff;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    padding: unset;
  }
}

.footerNavigation {
  display: flex;
  justify-content: space-between;
}

.footerNavigation .link {
  color: black;
}

.footerNavigation .link:hover {
  color: inherit;
}

.logotitle {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  align-items: center;
}

.logotitle .subtitle {
  font-size: 26px;
  text-transform: uppercase;
}

.linkedin {
  color: black;
  font-size: 2rem;
}

/* for < 430 kein padding mehr */
