.footerContainer {
  background-color: #FFFBF1;
padding: 24px 64px 16px 64px;
  align-items: center;
}

.footerNavigation {
  display: flex;
  justify-content: space-between;
  margin: 0 -0.5rem;
}

.footerNavigation .link {
  color: black;
}

.footerNavigation .link:hover {
  color: inherit;
}

.logotitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.logos  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}

.subtitle {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.social {
  color: black;
  font-size: 2rem;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    padding: unset;
  }
  .footerNavigation {
    flex-direction: column;
  }
  .logoContainer {
    flex-direction: column;
    padding: 10px;
  }
  .subtitle {
    font-weight: 600;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    padding: 32px;
  }
  .footerNavigation {
    flex-direction: column;
  }
  .logoContainer {
    flex-direction: column;
    padding: 10px;
    margin-top: var(--header-margin-top);
    align-items: flex-start;
  }
  .subtitle {
    font-weight: 600;
    font-size: 2rem;
  }
}

/* for < 430 kein padding mehr */
