.footerContainer {
  background-color: #fffbf1;
  align-items: unset;
  padding-bottom: 24px;
}

.footerNavigation {
  display: flex;
  justify-content: flex-start;
  margin: 0 -0.5rem;
}

.footerNavigation .link {
  color: black;
}

.footerNavigation .link:hover {
  color: inherit;
}

.logotitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 51px;
  padding-bottom: 48px;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  width: 100%;
}

.logoRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 48px;
  width: 100%;
}

.subtitle {
  font-weight: 600;
  text-transform: uppercase;
}

.socials {
  align-items: center;
}

.social {
  color: black;
  font-size: 2rem;
  padding-right: 15px;
}

.footerLogoSmall {
  display: none;
}

.footerLogoLarge {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    align-items: flex-start;
  }

  .footerNavigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoContainer {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid black;
    margin-top: 16px;
    padding-top: 24px;
  }

  .logoRow {
    gap: 24px;
  }
  .footerLogoLarge {
    display: none;
  }
  .footerLogoSmall {
    display: flex;
  }

  .bottomLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 56px;
  }
}

@media screen and (max-width: 576px) {
}
