.page {
  background-color: #e1eef9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--header-margin-top);
}
.main {
  padding: var(--page-padding-medium);
}

@media screen and (max-width: 768px) {
  .main {
    padding: var(--page-padding-small);
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding: var(--page-padding-large);
  }
}
